html {
  font-family: Helvetica;
  font-size: 18px;
}

body {

}

.container {
  margin: 0 auto;
}


.header {
  background-color: black;
  color: white;
  border: 1px solid blue;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1rem;
  max-width: 960px;
  margin: 0 auto;
  border: 1px solid yellow;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.logo img {
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
  border: 1px solid green;
}

.herocontainer {
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  height: 25rem;
  border: 1px solid white;

}

.hero {
  max-width: 960px;
  margin: 0 auto;
  border: 1px solid blue;

}

.herotext {
  width: 20rem;
  background-color: black;
  color: white;
  padding: 2rem 3rem;
  border: 1px solid teal;
  font-weight: bold;
  position: relative;
  top: 9rem;

}

.herotxt1 {
  font-size: 1rem;
  border: 1px solid red;
  padding-bottom: 0.25rem;
}

.herotxt2 {
  font-size: 2rem;
  border: 1px solid yellow;
  line-height: 2.25rem;
}

.navcontainer {
  background-color: firebrick;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  max-width: 960px;
  margin: 0 auto;
  border: 1px solid black;
}

.nav span {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.prodcontainer {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products {
  width: 30%;
  border: 4px solid black;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;

}

.products p {
  color: white;
  background-color: black;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.products img {
  max-width: 9rem;
  /*padding-top: 2rem;
  padding-bottom: 2rem;*/
}

.prod1, .prod2, .prod3 {
  height: 9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.prod3 img {
  padding-top: 1.5rem;
  padding-bottom: 5.2rem;
}
